@{
	ViewData["Title"] = "Mensaje Exitoso";

}

<h1>Gracias por ponerte en contacto con HUELLITAS </h1>
<p>Sabemos que deseas cambiarle la vida a un peludito, nos pondremos en contacto contigo pronto</p>
<div><a asp-action="Index" asp-controller="Home">Volver al Home</a></div>
